FrenoCastanheiro_WebservicesProject/Connected Services/ServiceReferenceMSSQL/MSSQLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MSSQLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59640/MSSQLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59640/MSSQLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMSSQLService_LoadWithUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUsername" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_LoadWithUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_LoadWithUID_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUID" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_LoadWithUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_Consume_InputMessage">
    <wsdl:part name="parameters" element="tns:Consume" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_Consume_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsumeResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAmountByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAmountByUsername" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAmountByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAmountByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAmountByUID_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAmountByUID" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAmountByUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAmountByUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMSSQLService">
    <wsdl:operation name="LoadWithUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUsername" message="tns:IMSSQLService_LoadWithUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUsernameResponse" message="tns:IMSSQLService_LoadWithUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadWithUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUID" message="tns:IMSSQLService_LoadWithUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUIDResponse" message="tns:IMSSQLService_LoadWithUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consume">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/Consume" message="tns:IMSSQLService_Consume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/ConsumeResponse" message="tns:IMSSQLService_Consume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAmountByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAmountByUsername" message="tns:IMSSQLService_DisplayAmountByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAmountByUsernameResponse" message="tns:IMSSQLService_DisplayAmountByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAmountByUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAmountByUID" message="tns:IMSSQLService_DisplayAmountByUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAmountByUIDResponse" message="tns:IMSSQLService_DisplayAmountByUID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMSSQLService" type="tns:IMSSQLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadWithUsername">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/LoadWithUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadWithUID">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/LoadWithUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consume">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/Consume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAmountByUsername">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/DisplayAmountByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAmountByUID">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/DisplayAmountByUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSSQLService">
    <wsdl:port name="BasicHttpBinding_IMSSQLService" binding="tns:BasicHttpBinding_IMSSQLService">
      <soap:address location="http://localhost:59640/MSSQLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>