WindowsFormsAppWebServicesTest/Connected Services/MSSQLServiceReference/MSSQLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MSSQLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51834/MSSQLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51834/MSSQLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51834/MSSQLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMSSQLService_LoadWithUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUsername" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_LoadWithUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_LoadWithUID_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUID" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_LoadWithUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadWithUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_Consume_InputMessage">
    <wsdl:part name="parameters" element="tns:Consume" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_Consume_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsumeResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAccountByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAccountByUsername" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAccountByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAccountByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAccountByUID_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAccountByUID" />
  </wsdl:message>
  <wsdl:message name="IMSSQLService_DisplayAccountByUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAccountByUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMSSQLService">
    <wsdl:operation name="LoadWithUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUsername" message="tns:IMSSQLService_LoadWithUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUsernameResponse" message="tns:IMSSQLService_LoadWithUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadWithUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUID" message="tns:IMSSQLService_LoadWithUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/LoadWithUIDResponse" message="tns:IMSSQLService_LoadWithUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consume">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/Consume" message="tns:IMSSQLService_Consume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/ConsumeResponse" message="tns:IMSSQLService_Consume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAccountByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAccountByUsername" message="tns:IMSSQLService_DisplayAccountByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAccountByUsernameResponse" message="tns:IMSSQLService_DisplayAccountByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAccountByUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAccountByUID" message="tns:IMSSQLService_DisplayAccountByUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMSSQLService/DisplayAccountByUIDResponse" message="tns:IMSSQLService_DisplayAccountByUID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMSSQLService" type="tns:IMSSQLService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadWithUsername">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/LoadWithUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadWithUID">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/LoadWithUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consume">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/Consume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAccountByUsername">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/DisplayAccountByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAccountByUID">
      <soap:operation soapAction="http://tempuri.org/IMSSQLService/DisplayAccountByUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSSQLService">
    <wsdl:port name="BasicHttpBinding_IMSSQLService" binding="tns:BasicHttpBinding_IMSSQLService">
      <soap:address location="http://localhost:51834/MSSQLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>